.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;    
}

.toolbar-inner .active{
    background: linear-gradient(180deg, var(--blue) 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.toolbar-inner .link:not(.active){
    background: linear-gradient(180deg, rgb(79, 79, 79) 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
	font-weight:700;
}

.toolbar-inner > .link i{
    font-size: 28px;
}