:root {
    --verde: #19c463;
    --blue: #231AC4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/* INDEX/LOGIN */
#login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: -2rem;
    font-size: 2.2rem;
    background: linear-gradient(135deg, #828282 0%, black 100%);
    -webkit-background-clip: text;
    /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
    /* Faz o texto ser transparente, exibindo o fundo */
    background-clip: text;
    /* Suporte para navegadores mais recentes */
}

.degrade {
    background: linear-gradient(135deg, var(--blue) 0%, var(--verde) 100%);
    -webkit-background-clip: text;
    /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
    /* Faz o texto ser transparente, exibindo o fundo */
    background-clip: text;
    /* Suporte para navegadores mais recentes */
}

#login-accedi {
    margin: 2rem;
    font-size: 1.2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    padding-bottom: 2rem;
}

.login-form input {
    width: 250px;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px;
    flex-shrink: 1;
    flex-grow: 1;
}

.login-form input:focus {
    border: none;
    outline: 2px solid var(--blue);
}

.btn {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 20px;
    padding: .5rem;
    font-weight: 600;
    font-size: 1rem;
    flex-shrink: 1;
    cursor: pointer;
    background-color: var(--verde);
    transition: filter .3s ease;
    transition: transform .3s ease;
}

.btn:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}

#line {
    border: 1px solid gray;
    width: 200px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: transform .3s ease;
    font-size: .8rem;
}

.button:hover {
    transform: scale(1.1);
    color: var(--blue);
}

/* FIM INDEX/LOGIN */


/* REGISTRO */
/* .logo-registrare{
    padding-top: 20rem;
} */
#registro {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 10rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#registro .button{
    margin-top: 1.5rem;
}

.social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.social-medias a {
    transition: transform .3s ease;
}

.social-medias a:hover {
    transform: scale(1.3);
}

#registro p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.data-nascita{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.condizioni {
    margin-top: 1rem;
    margin-bottom: .5rem;
    display: inline-flex;
    font-size: .75rem;
    gap: .3rem;

}

.condizioni input {
    width: 20px;
}
.condizioni input:focus{
    outline: none;
}
/* FIMREGISTRO */